@import '../../global.scss';

.portfolio{
    height: calc(100vh - 140px);
    background-color: lightcoral;

    .portfolioHeader{
        display: flex;
        font-size: 50px;
        font-weight: 700;
        justify-content: center;
        padding-top: 50px;
    }

    

}