.footer{
    width: 100%;
    height: 70px;
    font-size: 200px;
    position: fixed;
    

    .wrapper{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
}